<div>
    <footer class="theme-bg">
      <div class="row footer-text footer">
        <div class="col">
            <span class="title">Trip Zone</span>
            <span class="txt">About</span>
            <span class="txt">Awards</span>
            <span class="txt">Contact Us</span>
            <span class="txt">Feedback</span>
        </div>

        <div class="col">
            <span class="title">Main Offices</span>
            <span class="txt">The United States</span>
            <span class="txt">India</span>
            <span class="txt">Brazil</span>
            <span class="txt">Canada</span>
        </div>

        <div class="col">
            <span class="title">Sub Offices</span>
            <span class="txt">Australia</span>
            <span class="txt">England</span>
            <span class="txt">France</span>
            <span class="txt">Germany</span>
        </div>

        <div class="col">
            <span class="title">Disclaimer</span>
            <span>This layout is created as a part of Sirius UI Recruitments.
                  All the above content has no direct relation with Sirius business.
            </span>            
        </div>
      </div>      
    </footer>
  </div>